# List project dependencies here. A workflow ports them to `pyproject.toml`. This is needed because Dependabot does not currently support `flit`-flavored `pyproject.toml`.
pandas~=2.0.0
labjack-ljm~=1.21.0
keyboard~=0.13.5
